header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    background-color: rgb(57, 126, 187);
}

.header-titulo {
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 1.8em;
    color: #ffffff;
}
  
.user {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    text-align: right;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0; 
    margin: 0;
}

nav li {
    margin: 0 10px; 
}

nav a {
    color: #181616;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(48, 91, 129, 0.774);
}

body {
    background-color: #c9d1d8;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.content {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 90%;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #394867;
    color: #ffffff;
    margin-top: 20px;
}

.boton {
    color: #FFF;
    font-weight: 600;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    margin: 5px;
}
.boton:hover {
    color: #000;
    background-color: #ffffff;
}

.boton-eliminar {
    color: #FFF; 
    font-weight: 600; 
    width: 200px; 
    height: 25px; 
    border-radius: 5px; 
    border: none; 
    text-align: center; 
    font-size: 17px; 
    cursor: pointer; 
    background-color: #c70000;
    margin: 5px;
}

.boton-eliminar:hover {
    background-color: #e60000;
}

.boton-verde {
    color: #FFF;
    font-weight: 600;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    background-color: #0ea700;
    margin: 5px;
}

.boton-verde:hover {
    background-color: #08d401;
}

form label {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
    width: 300px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid #ccc; /* Adds a subtle border */
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

form textarea {
    padding: 5px;
    width: 300px;
    box-sizing: border-box;
    resize: none;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 15px;
}