<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Website{% endblock %}</title>
        {%load static %}
        <link rel="stylesheet" href="{% static 'publicaciones/styles.css' %}">
        
    </head>

    <body>
    <header>

        {% include "navbar.html" %}

        <div class="header-titulo" style="text-align: center;">
            <h1>Welcome to My Website</h1>
        </div>    

        

        <div class="user">
            {% if user.is_authenticated %}
                Hola {{ user.username|capfirst }}<br>
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                Hola anónimo/a
                <a href="{% url 'login' %}">Iniciar Sesión</a><br>
                <a href="{% url 'register' %}">¿No tienes una cuenta? Ingresa aquí</a>
            {% endif %}
            <br><br>
        </div>

    </header>
    
    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <footer style="text-align: center;">
        <p>&copy; 2024</p>
    </footer>

    </body>
</html>